.alice-carousel__prev-btn, .alice-carousel__next-btn{
    text-align: center;
}

.btn-carousel-equipe{
    border: none;
    font-size: 25px;
    color: #2F94EF;
    background-color: #FFFFFF;
}

.btn-carousel-equipe:hover{
    color: #3559E0;
}

.btn-carousel-equipe:disabled{
    color: #aec2d3;
}

.img-carousel-equipe{
    width: 200px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
