.alice-carousel__prev-btn, .alice-carousel__next-btn{
    text-align: center;
}

.btn-carousel-equipe{
    border: none;
    font-size: 25px;
    color: #2F94EF;
    background-color: #FFFFFF;
}

.btn-carousel-equipe:hover{
    color: #3559E0;
}

.btn-carousel-equipe:disabled{
    color: #aec2d3;
}

.img-carousel-equipe{
    width: 160px;
    border-radius: 8px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-insta-locutores{
    color: #FFFFFF;
    background-color: #2F94EF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 50%;
    padding: 15px;
}

.btn-insta-locutores:hover{
    color: #FFFFFF;
    background-color: #3559E0;
}

.card-titulo-equipe{
    color: #0C356A;
    font-weight: 600;
    margin-bottom: 18px;
}



