.btn-musicas{
    background-color: #0C356A;
    font-weight: 600;
    font-size: 12px;
    padding: 8px 18px 8px;
}

.btn-musicas:hover{
    background-color: #2F94EF;
}

.css-1ndgitk{
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.css-dvxtzn{
    margin: 8px;
}
