.btn-musicas{
    color: #0C356A;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 18px 8px;
}

.btn-musicas:hover{
    color: #2F94EF;
}

.card-body-musicas{
    padding: 20px 0;
}
.card-musicas{
    width: 250px;
    box-shadow: 10px 10px 5px rgb(216, 224, 231);
    border: 0.05px solid rgb(216, 224, 231);
}

.card-header-musicas{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card-title-musicas{
    font-weight: 600;
    font-size: 35px;
    color: #0C356A;
}
